<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
	<div th:each="elm: ${model.products}">
		<h1 th:text="${elm.name}"></h1>

	</div>
	
	<form action="product/store" method="post" enctype="multipart/form-data">
    <input type="text" name="name" />
    <input type="text" name="description" />
    <input type="number" name="price" />
    <input type="number" name="stock" />
    <input type="file" name="picture" />
    <input type="submit" value="Upload Picture" />
</form>
</body>
</html>