<header th:fragment="header" id="header" class="fixed w-full lg:px-8 transition-all bg-transparent h-[2rem]" style="margin-top: 25px;height:6rem;  z-index: 100;">
  <div class="container mx-auto flex items-center justify-between w-full h-full py-6" style="height:100%;" >
      <div class="w-[10px]">
          <a th:href="@{/}">
              <img th:src="@{/resources/images/logo.png}" />
          </a>
      </div>

      <div class="cursor-pointer flex relative">
          <img th:src="@{/resources/images/icons8-cart-64.png}"  id="openModalBtn" />
          <span id="cart-counter" class="bg-red-500 absolute -right-2 -bottom-2 text-[12px] w-[18px] h-[18px] text-white rounded-full flex justify-center items-center">
            <span class="total-count"></span>
          </span>
      </div>
  </div>
</header>
