<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
    <display-name>prodXpert</display-name>

    <!-- Welcome File Configuration -->
    <welcome-file-list>
        <welcome-file>index</welcome-file> <!-- Points to the servlet handling 'index' -->
    </welcome-file-list>

    <!-- Servlet for Thymeleaf -->
    <servlet>
        <servlet-name>ThymeleafServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ThymeleafServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

	 	<!-- User Mapping -->
		 <servlet>
			<servlet-name>UserServlet</servlet-name>
			<servlet-class>controller.UserServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>UserServlet</servlet-name>
			<url-pattern>/user</url-pattern>
		</servlet-mapping>
		<!-- User Mapping End -->

    	<!-- Order Mapping -->
		 <servlet>
			<servlet-name>OrderServlet</servlet-name>
			<servlet-class>controller.OrderServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>OrderServlet</servlet-name>
			<url-pattern>/order</url-pattern>
		</servlet-mapping>
		<!-- Order Mapping End -->

    <!-- Serve static resources from /resources -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>

    <!-- Serve static resources from /uploads (if needed) -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/uploads/*</url-pattern>
    </servlet-mapping>

</web-app>
